html,body,h1,h2,h3,table,form,button{
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
th,td{
	text-align: left;
}
html,body{
	margin: 0;
	border: 0;
}
img{
	border: 0;
}
summary{
	outline: 0;
}
li{
	list-style: none;
}
label{
	cursor: default;
}
a,button{
	cursor: pointer;
}
body,textarea,button,select,{
	font: 12px arial,simsun;
	outline: 0;
}